.image-container {
  width: 100%;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.image-container .item {
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
  font-size: 0px;
}

.image-container .item img {
  Object-fit: contain;
  width: 500px;
}

.btn {
  width: 200px;
  height: 50px;
  background-color: #b8ce8e;
  border-radius: 5px;
  border: none;
  margin: 20px auto;
  display: block;
  cursor: pointer;
}
.btn-change {
  width: 200px;
  height: 50px;
  background-color: #ceb64a;
  border-radius: 5px;
  border: none;
  margin: 20px auto;
  display: block;
  cursor: pointer;
}